@media screen and (max-width: 900px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    .menu-links {
        margin-top: 20px;
    }

    .menu-links li,
    .menu-links a {
      text-align: right;
    }
}