@import "tailwindcss";

@theme {
    --color-hunter: #254B4C;
  }

  @utility fjc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @utility hidden-menu {
    display: none;
    position: absolute;
  }

  @utility show-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: right;
    height: auto;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    font-size: 24px;
    background-color: white;
    z-index: 2;
    top: 65px;
    opacity: 85%;
  }